{{> post-info post}}
 
{{#if loggedIn}}
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <!-- Replace with your content -->
        <div class="rounded-lg">
            <form class="comment-form">
                <div>
                    <textarea name="comment-body"></textarea>
                </div>

                <div>
                    <button type="submit">add comment</button>
                </div>
            </form>
      </div>
      <!-- /End replace -->
    </div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}




